<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>マイページ</h2>
      
      <div class="row mb-3">
      <label for="inputEmail3" class="col-3 col-form-label">登録情報</label>
        <div class="col-9">
          <%= link_to "編集する", edit_customers_path,class: "btn btn-success" %>
        </div>
      </div>
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>氏名</th>
            <td><%= @customer.first_name %><%= @customer.last_name %></td>
          </tr>
          <tr>
            <th>カナ</th>
            <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </thead>
      </table>

      <div class="row mb-3">
        <label for="inputEmail3" class="col-3 col-form-label">配送先</label>
        <div class="col-9">
        <%= link_to "一覧を見る", addresses_path,class: "btn btn-primary" %>
        </div>
      </div>
      
      <div class="row mb-3">
        <label for="inputEmail3" class="col-3 col-form-label">注文履歴</label>
        <div class="col-9">
        <%= link_to "一覧を見る", orders_path,class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
