<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h2>注文履歴詳細</h2>
      
      <div class="group">
        <label for="name">購入者</label>
        <%= @order.name %>
      </div>
      
      <div class="group">
        <label for="created_at">注文日</label>
        <%= @order.created_at %>
      </div>
      
      <div class="group">
        <label for="postal_code_address">配送先</label>
        <%= @order.postal_code %>
        <%= @order.address %>
      </div>
      
      <div class="group">
        <label for="payment_method">支払い方法</label>
        <%= @order.payment_method_i18n %>
      </div>
      
      <div class="group">
        <label for="status">注文ステータス</label>
        <%= form_with model: @order,url: admin_order_path(@order.id), method: :patch, local: true do |f| %>
          <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
          <%= f.submit "更新",class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= sum = order_detail.item.with_tax_price * order_detail.amount %></td>
            <td>
              <%= form_with model: order_detail,url: admin_order_detail_path(order_detail.id), method: :patch, local: true do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                <%= f.submit "更新",class: "btn btn-success" %>
              <% end %>
              </td>
          </tr>
          <% @sum << sum %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>