<div class="confirmation">
  <div class="row">
    <div class="mx-auto">
      <h2>配送先編集</h2>
      
      <%= form_with model: @address , local: true do |f| %>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">郵便番号(ハイフンなし)</label>
          <div class="col-8">
          <%= f.text_field :postal_code %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">住所</label>
          <div class="col-8">
          <%= f.text_field :address, size: "60x2" %>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-4 col-form-label">宛名</label>
          <div class="col-8">
          <%= f.text_field :name %>
          <%= f.submit "変更内容を保存", class: "btn btn-success" %>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>
