<div class="container">
  <div class="row">
    <div class="col-mx-auto">
      <label for="title">商品カート</label>
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger" %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <th><%= cart_item.name %></th>
            <th><%= cart_item.with_tax_price %></th>
            <th>
              <%= form_with model: @item, local: true do |f| %>
                <%= f.select :amount, *[1..3] %>
                <%= f.submit '編集する',class: "btn btn-success" %>
              <% end %>
            </th>
            <th><%= cart_item.subtotal %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
