<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <h2>商品一覧(全<%= @items.count %>件)</h2>
      
      <% @posts.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(200,200), size:"200x200" %>
          <p><%= item.name %></p>
          <p><%= item.price %></p> 
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @posts %>
