<div class="container">
    <div class="max-auto row">
      <div class="col-8">
      <%= image_tag @item.get_image(300,300), size: "300x300" %>
      </div>
      
      <div class="col-4">
        <div class="col-8">
        <%= @item.name %>
        </div>
       
        <div class="col-8">
          <%= @item.introduction %>
        </div>
        
        <div class="col-8">
          ¥<%= @item.with_tax_price %>(税込)
        </div>
        
        <% if customer_signed_in? %>
        <%= form_with model: @cart_item, local: true do |f| %>
        <div class="col-8">
          <%= f.select :amount, *[1..10],{ include_blank: '個数選択'} %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.submit "カートに入れる",class: "btn btn-success" %>
        </div>
        <% end %>
        <% end %>
       </div> 
    </div>
  </div>
</div>
