<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <%= image_tag @item.get_image(300,300), size: "300x300" %>
      </div>
      <div class="col-lg-7">
        <div class="row mb-3">
          <div class="col-9">
          <%= @item.name %>
            
          </div>
        </div>
        
        <div class="item_intraduction">
          <%= @item.introduction %>
        </div>
        
        <div class="item_price">
          ¥<%= @item.with_tax_price %>(税込)
        </div>
        
        <%= form_with model: @cart_item, local: true do |f| %>
          <%= f.select :amount, *[1..3] %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.submit "カートに入れる",class: "btn btn-success" %>
        <% end %>
        
      </div>
    </div>
  </div>
</div>
